.footer
 .footer__top
  .footer__top-left
   ul
    li
     a(href="works") Наши работы
    li
     a(href="about") О нас
    li
     a(href="blog") Блог
    li
     a(href="/") Главная
    li
     a(href="shop") Магазин
  .footer__top-right
    a(href="https://vk.com/" target="_blank")
     .footer__top-right-circle
      i.fa.fa-vk
    a(href="https://github.com/" target="_blank")
     .footer__top-right-circle
      i.fa.fa-github-alt
    a(href="https://www.instagram.com/" target="_blank")
     .footer__top-right-circle
      i.fa.fa-instagram
 .footer__bottom
  .footer__bottom-left.
   Розничная и оптовая торговля
  .footer__bottom-right.
   © ООО "Прогрес" 2017 год
